.blue-1 {
	height: 3em;
	background-color:#1083B5;
}

.navy-1 {
	height: 45em;
	width: 30em;
	background-color:#323D4D;
}

.header-1 {
	height: 5em;
	width: 13em;
	box-sizing: border-box;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.5em;
	font-family: arial;
	margin: 0 auto;
	padding-top: 5em;
	padding-bottom: 3em;
}	

.wordpress {
	height: 15em;
	width: 20em;
	box-sizing: border-box;
	text-align: center;
	color: #FFFFFF;
	font-size: 1em;
	font-family: arial;
	margin: 0 auto;
	padding-top: 2em;
}

.blue-2 {
	height: 2em;
	width: 14em;
	background-color:#1E8CBE;
	border: 10px solid #212934;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 2em;
}

.navy-special {
	height: 27em;
	width: 30em;
	background-color: #323D4D;
}
.white-1 {
	height: 1em;
	width: 3em;
	background-color: #FFFFFF;
	border: 1px #FFFFFF;
	text-align: center;
	margin: 0 auto;
	border: 10px solid #323D4D;
	
}
.white-2 {
	height: 5em;
	width: 15em;
	background-color: #FFFFFF;
	margin: 2em;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;
	margin: 0 auto;
	border: 1em solid #323D4D;



}
.off-white-1 {
	height: 12em;
	width: 30em;
	background: #E8F0F5
}
.white-3 {
	height: 16em;
	width: 28.6em;
	background-color: #FFFFFF;
	border-top: 1em solid #D1D3D7;
	border-bottom: 1em solid #d1d3d7;
	border-left: .7em solid #d1d3d7;
	border-right: .7em solid #D1d3d7;
}
.off-white-2 {
	height: 10em;
	width: 30em;
	background-color: #E8F0F5
}
.blue-3 {
	height: 3.5em;
	width: 14em;
	background-color: #1E8CBE;
	text-align: center;
	margin: 0 auto;
	border-top: 5em solid #E8F0F5;

}
.black-1 {
	height: 10em;
	width: 30em;
	background-color: #000000;
}

.low1-text {
	color: #FFFFFF;
	font-size: .7em;
	text-align: center;
	margin:0 auto;
	border-top: 3em solid #000000;
}

.low2-text {
	color: #FFFFFF;
	font-size: .7em;
	text-align: center;
	margin:0 auto;
}

.white-4 {
	background-color: #FFFFFF;
	height: 1.5em;
	width: 9em;
	margin: 0 auto;
	border-top: 3em solid #000000;
}